<html>
    <body style="background-color: #f2f2f2">
        <div style="width:90%; padding: 15px; background-color: #fff; box-shadow: 3px 3px #dddddd;">
            <div style="padding-top:10px; background-color: #f0f0f0; height: 100px">
                <img src="$logo" height="60px" style="padding: 15px">
            </div>
            <div style="padding-top:10px">Hi,</div>
            <div style="padding-top:30px">Your email has been used as a forgot password at appName.</div>
            <!-- <div style="padding-top:20px">If you did not initiate this request, then ignore this message.</div> -->
            <div style="padding-top:20px">Please check your details below: </div>
            <div style="padding-top:30px">
                Email - <strong>$email</strong><br>
                <span style="font-weight: normal ; display: block ; line-height: 90px ; width: 50px ; border-radius: 6px ; background-color: #f6f6f6 ; box-shadow: 0 2px 4px 0 rgba(204 , 201 , 201 , 0.8) ; color: #242c33 ; font-size: 60px;"><p style="color: #242c33 ; font-size: 20px ; font-family: &quot;arial&quot; ; font-stretch: normal ; line-height: normal ; letter-spacing: 2px">$otp</p></span>
                <!-- OTP - <strong>$otp</strong><br> -->
                Otp will expire within 30 minutes.
            </div>
            <div style="padding-top:50px">Regards,<br>appName</div>
        </div>
    </body>
</html>
