<html>
    <body style="background-color: #f2f2f2">
        <div style="width:90%; padding: 15px; background-color: #fff; box-shadow: 3px 3px #dddddd;">
            <div style="padding-top:10px; background-color: #f0f0f0; height: 100px">
                <img src="$logo" height="60px" style="padding: 15px">
            </div>
            <div style="padding-top:10px">Hi,</div>
            <div style="padding-top:30px">Your email has been used as a forgot password at appName.</div>
            <!-- <div style="padding-top:20px">If you did not initiate this request, then ignore this message.</div> -->
            <div style="padding-top:20px">Please check your details below: </div>
            <div style="padding-top:30px">
                Email - <strong>$email</strong><br>
                Password - <strong>$password</strong>
            </div>
            <div style="padding-top:50px">Regards,<br>appName</div>
        </div>
    </body>
</html>
