<html>
    <body style="background-color: #f2f2f2">
        <div style="width:90%; padding: 15px; background-color: #fff; box-shadow: 3px 3px #dddddd;">
            <div style="padding-top:10px; background-color: #f0f0f0; height: 100px">
                <img src="$logo" height="60px" style="padding: 15px">
            </div>
            <div style="padding-top:10px">Welcome to appName!</div>
            <div style="padding-top:30px">Your account has been created with appName, Please click on link to activate your account.</div>
            <div style="padding-top:30px">Link : <a href="activeLink" target="_blank"><strong>Click to activate</strong></a></div>
            <!-- <div style="padding-top:30px">Or copy & paste this link on browser: <a href="activeLink" target="_blank">activeLink</a></div> -->
            <div style="padding-top:50px">Regards,<br>appName</div>
        </div>
    </body>
</html>
