<html>
    <body style="background-color: #f2f2f2">
        <div style="width:90%; padding: 15px; background-color: #fff; box-shadow: 3px 3px #dddddd;">
            <div style="padding-top:10px; background-color: #f0f0f0; height: 100px">
                <img src="$logo" height="60px" style="padding: 15px">
            </div>
            <div style="padding-top:10px">Welcome to appName!</div>
            <div style="padding-top:30px">Your account has been created with appName and your token is below: </div>
            <div style="padding-top:30px">Confirmation token : $confirmationToken</div>
            <div style="padding-top:30px">Please fill this information in your android device.</div>
            <div style="padding-top:50px">Regards,<br>appName</div>
        </div>
    </body>
</html>
